<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Tuto</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem dolorum nisi, dignissimos facere ad cum alias dicta aliquid, vero ut magni enim! Excepturi, molestias incidunt voluptatem pariatur quisquam consectetur rem odit, hic eum magnam praesentium fugiat cum, commodi nulla? Aperiam delectus rerum magni dignissimos, ab iure! Magni, dicta dolorem!</p>
</body>
</html>